<p id="notice"><%= notice %></p>

<p class="illustration-image-block">
  <%= image_tag @illustration.image_url, class: 'illustration-image' %>
</p>

<p>
  Onomatopoeia: <%= link_to @illustration.onomatopoeia.name, @illustration.onomatopoeia %>
</p>

<%= link_to 'Edit', edit_illustration_path(@illustration) %> |
<%= link_to 'Back', illustrations_path %>
