<header class="home-header">
  The En-Ja Glossary of Onomatopoeia
  <br />
  for All Manga Lovers
  <img class="home-header-logo" src="/logo.png" alt="Onomatopia" />
</header>

<form class="home-translation" action="#">
  <button class="home-translation-item" name="type" value="jaen" disabled>Japanese→English</button>
  <button class="home-translation-item" name="type" value="enja">English→Japanese</button>
</form>

<%= render partial: 'miscellaneous/search_form' %>

<nav class="home-nav">
  <% @top_onomatopes.each do |data| %>
    <a class="home-nav-item <%= "home-nav-item-col#{data[:span]}" %>" style="background-image: url('<%= data[:illustration].image_url %>')" href="<%= onomatope_path data[:onomatope] %>"></a>
  <% end %>
</nav>
<h1>All Onomatopes</h1>
<ul>
  <% @onomatopes.each do |onomatope| %>
    <li><%= link_to onomatope.name, onomatope %></li>
  <% end %>
</ul>
