<header class="home-header">
  <%= md t 'home.header.description' %>
  <img class="home-header-logo" src="/logo.png" alt="Onomatopia" />
</header>

<form class="home-translation" action="#">
  <button class="home-translation-item" name="type" value="jaen" disabled><%= t 'home.translation.ja' %>→<%= t 'home.translation.en' %></button>
  <button class="home-translation-item" name="type" value="enja"><%= t 'home.translation.en' %>→<%= t 'home.translation.ja' %></button>
</form>

<%= render partial: 'miscellaneous/search_form' %>

<nav class="home-nav">
  <% @top_onomatopoeias.each do |data| %>
    <a class="home-nav-item <%= "home-nav-item-col#{data[:span]}" %>" style="background-image: url('<%= data[:illustration].image_url %>')" href="<%= onomatopoeia_path data[:onomatopoeia] %>"></a>
  <% end %>
</nav>

<section class="home-allCategories">
  <h1 class="home-allCategories-title">All Categories</h1>
  <nav class="home-allCategories-list">
    <% @categories.each do |category| %>
      <%= link_to category.name, category, class: 'home-allCategories-item' %>
    <% end %>
  </nav>
</section>

<footer class="home-footer">
  <div class="home-footer-link-list">
    <a class="home-footer-link-item" href="#"><%= t 'home.footer.link.about' %></a>
    <a class="home-footer-link-item" href="#"><%= t 'home.footer.link.term' %></a>
    <a class="home-footer-link-item" href="#"><%= t 'home.footer.link.staf_page' %></a>
  </div>
  <form class="home-footer-opinion" action="#">
    <h2><%= t 'home.footer.link.opinion_form' %></h2>
    <textarea class="home-footer-opinion-comment" name="comment" placeholder="<%= t 'home.footer.link.opinion_form_description' %>"></textarea>
    <button class="home-footer-opinion-submit"><%= t 'g.send' %></button>
  </form>
</footer>
