<p id="notice"><%= notice %></p>

<h1 class="onomatope-title"><%= @onomatope.name %></h1>

<%= render partial: 'illustrations/show', locals: { illustration: @onomatope.top_illustration } %>

<h2>解説</h2>

<p><%= @onomatope.top_explanation.outline %></p>

<%= md @onomatope.top_explanation.description %>

<h2>同義語</h2>

<ul>
  <li><strong><%= @onomatope.name %></strong></li>
  <% @onomatope.synonyms.each do |synonym| %>
    <li><%= synonym.name %></li>
  <% end %>
</ul>
