<p id="notice"><%= notice %></p>

<h1>Listing Onomatopoeias</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onomatopoeias.each do |onomatopoeia| %>
      <tr>
        <td><%= onomatopoeia.name %></td>
        <td><%= link_to 'Show', onomatopoeia_path(onomatopoeia) %></td>
        <td><%= link_to 'Edit', edit_onomatopoeia_path(onomatopoeia) %></td>
        <td><%= link_to 'Destroy', onomatopoeia_path(onomatopoeia), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onomatopoeia', new_onomatopoeia_path %>
