<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Onomatopia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="globalHeader">
    <a class="globalHeader-logo" href="/"><img src="/logo.png" width="106" height="60" alt="Onomatopia" /></a>
    <nav class="globalHeader-navigation">
      <%= link_to 'Upload', new_illustration_path %>
    </nav>
  </header>

<%= yield %>

  <footer class="globalFooter">
    &copy; Q, &copy; Qinpei and &copy; Qaki
  </footer>
</body>
</html>
