<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=320px" />
  <title>Onomatopia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @with_global_header %>
    <header class="globalHeader">
      <a class="globalHeader-logo" href="/"><img class="globalHeader-logo-image"src="/logo.png" alt="Onomatopia" /></a>
      <nav class="globalHeader-navigation">
        <%= link_to '&#128269;'.html_safe, search_path %>
      </nav>
    </header>
  <% end %>

<%= yield %>

  <% if @with_global_footer %>
    <footer class="globalFooter">
      <%= form_tag change_locale_path do %>
        <%= button_tag '日本語', name: :locale, value: :ja %>
        <%= button_tag 'English', name: :locale, value: :en %>
      <% end %>
      &copy; Q, &copy; Qinpei and &copy; Qaki
    </footer>
  <% end %>
</body>
</html>
